

.page-backmat{
    background-color: var(--highlight-color);
    min-height: 70vh;
    border-radius: 10px;
    padding: 2em;
  }


.page-backmat-heading{
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    margin: 0.5em auto;
    width: 80vw;
}

.page-backmat > p{
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    margin: 0.5em auto;
    width: 80vw;
    min-height: 50vh;
    padding-top: 3em;
    text-align: center;
}
