


.projectslistpage-backmat{
    background-color: var(--highlight-color);
    min-height: 70vh;
    border-radius: 10px;
    padding: 2em;
  }


.projectslistpage-backmat-heading{
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    margin: 0.5em auto;
    max-width: 85%;
}

.projectlists-backmat{
    color: var(--background-color);
    background-color: var(--text-color);
    border: 1px solid var(--background-color);
    border-radius: 10px;
    /* margin: 0.5em auto; */
    /* padding-top: 3em; */
    text-align: center;
    max-width: 60%;
    margin:auto;
}

.projectlists-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}

ul{
    padding:0;
}

.project-plant-create-form>label{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form-spaceneeded{
    margin-bottom: 20px;
}

.form-textarea{
    height: 100px;
}
